body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #ffcccb;
    color: #fff;
    position: relative;
}

header audio {
    margin-top: 20px;
}

header::after {
    content: '';
    background: url('confetti.gif') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    pointer-events: none;
}

section {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: calc(33% - 10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

#quotes {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quotes blockquote {
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #ffcccb;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .gallery img {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .gallery img {
        width: calc(100% - 10px);
    }

    button {
        padding: 15px;
    }
}
